.artist-main {
    background: linear-gradient(130deg, #251b43 55%, #746cfe);
    min-height: 250vh;
    font-family: "FontsFree";
    font-size: large;
    color: #ffffff;
    z-index: 100;

    .artist-card-holder {
        padding-top: 120px;
        z-index: 100;

        .artist-card {
            max-width: 800px;
            width: 80%;
            padding: 40px;
            // padding: 50px 30px 30px 30px;
            display: flex;
            align-items: center;
            align-content: center;
            margin: 0 auto;
            // background-color: rgba(255, 255, 255, 0.8);
            background: linear-gradient(90deg, #8e59be 10%, #793ad8 70%, #a886fb);
            border-radius: 20px;
            height: 350px;
            overflow: hidden;
            gap: 10px;
            z-index: 100;

            .artist-color-holder {
                position: absolute;
                height: inherit;
                width: fit-content;
                z-index: inherit;

                .artist-color-circle {
                    position: absolute;
                    width: 50px;
                    background-color: green;
                    background: #a886fb;
                    // top: 10px;
                    // left: 10px;
                    height: 50px;
                    bottom: -40px;
                    z-index: 0;
                    border-radius: 400px;
                    box-shadow: 0 0 60px 60px #a886fb;
                    z-index: 300;
                }
            }

            .artist-detail {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 450px;
                z-index: 200;

                .artist-name {
                    // font-size: 30px;
                    text-align: left;
                    margin: 0;
                }

                .artist-description {
                    font-family: "Gilmer-Light";
                    width: calc(100% - 10px);
                    height: 200px;
                    overflow: auto;

                    &::-webkit-scrollbar {
                        width: 5px;
                        background: transparent;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #ffffff;
                        // outline: 3px solid #251b43;
                        border-radius: 10px;
                    }
                }

                .artist-instrument {
                    padding-top: 20px;
                    font-family: "Gilmer-Light";
                    width: inherit;
                }
            }

            .artist-image-container {
                // overflow: hidden;
                // max-height: 200px;
                // width: inherit;
                // margin: 10px;
                height: 300px;
                text-align: center;
                margin: 0 auto;
                // flex-grow: 1;
                display: inline-flex;
                align-items: center;
                align-content: center;

                .artist-image {
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 10px;
                    width: fit-content;
                }
            }
        }
    }

    .artist-creations {
        margin-top: 200px;

        .artist-creations-header {
            text-align: center;
            font-size: xx-large;
            font-family: "FontsFree";
            padding-top: 100px;
            color: #ffffff;
            padding-top: 100px;
            text-shadow: 0 0 2px #ffff, 0 0 10px #a886fb, 0 0 2px #fff,
                0 0 10px #a886fb, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
        }

        .artist-creations-list-container {

            max-width: 1440px;
            margin: 0 auto;

            .artist-creations-list {
                position: relative;
                /* display: grid;
                grid-template-columns: repeat(auto-fit, minmax(400px, 3fr)); */
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 50px;
                margin-top: 50px;
                padding: 30px;

                .artist-collection-pa {
                    cursor: pointer;

                    .exp-bg {
                        width: 300px;
                        height: 400px;
                        max-height: 100%;
                        /* background: rgb(116, 108, 254); */
                        background: linear-gradient(180deg, #8359be 20%, #793ad8 50%, #a886fb);
                        border-radius: 20px;
                        align-items: center;
                        margin: 0 auto;
                        flex: 0 0 20%;
                        flex-direction: column;
                        box-shadow: rgba(0, 0, 0, 0.3) 5px 8px 12px;
                        padding: 5px 0;
                        overflow: hidden;
                    }

                    .exp-img {
                        width: 260px;
                        height: 200px;
                        margin: 10px auto auto auto;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        overflow: hidden;
                        background-color: rgba(255, 255, 255, 0.6);
                        border-radius: 10px;
                        box-shadow: 0px 0px 20px #ffffff;
                    }

                    .exp-nft {
                        height: fit-content;
                        max-width: 260px;
                        width: fit-content;
                        margin: 0 auto;
                        border-radius: 10px;
                    }

                    .exp-name {
                        margin-top: 20px;
                        padding: 0 20px;
                        color: #fefcff;
                        font-size: 15px;
                        font-family: "FontsFree";
                        font-weight: 700;
                    }

                    .exp-album {
                        padding: 0 20px;
                        margin-top: 20px;
                        color: #fefcff;
                        font-size: 20px;
                        font-family: "Gilmer-Light";
                        font-weight: 500;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    .exp-description {
                        margin-top: 20px;
                        padding: 0 20px;
                        color: #fefcff;
                        font-size: 15px;
                        font-family: "Gilmer-Light";
                        font-weight: 500;
                        height: 96px;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

.artist-collection-pa:hover {
    animation-name: scale-card;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-play-state: running;
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #ffffff;
}

@keyframes scale-card {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 0px #ffffff;
    }

    100% {
        transform: scale(1.1);
        box-shadow: 0px 0px 20px #ffffff;
    }
}