.collection-main {
    min-height: 250vh;
    background: linear-gradient(130deg, #251b43 55%, #746cfe);

    .collection-name {
        font-size: xx-large;
        text-align: center;
        font-family: "FontsFree";
        padding-top: 100px;
        color: #ffffff;
        margin: 0;
        text-shadow: 0 0 2px #ffff, 0 0 10px #a886fb, 0 0 2px #fff,
            0 0 10px #a886fb, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
    }

    .collection-detail-holder {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;

        .collection-image-holder {
            width: 400px;
            overflow: hidden;
            height: 400px;
            padding: 30px;

            .collection-image {
                max-width: 100%;
                max-height: fit-content;
            }
        }

        .collection-details {
            .collection-description {}
        }
    }
}