.artist-streams {
    text-align: center;
    font-size:medium;
    font-family: "FontsFree";
    padding-top: 100px;
    color: #ffffff;
    padding-top: 100px;
    // text-shadow: 0 0 2px #ffff, 0 0 10px #a886fb, 0 0 2px #fff,
    //     0 0 10px #a886fb, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
}