@font-face {
  font-family: "Gilmer-Light";
  src: local("Gilmer-Light"),
    url("./fonts/gilmer-light/Gilmer-Light.otf") format("truetype");
}

@font-face {
  font-family: "FontsFree";
  src: local("FontsFree"),
    url("./fonts/FontsFree-Net-Centauri.ttf") format("truetype");
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* #gui{
 display: none;
} */